# Core Deep Learning & Medical Imaging framework
torch
torchvision
nnunetv2

# Image Processing & Data Loading
numpy
nibabel
opencv-python-headless
scipy
PyYAML
tqdm
matplotlib
einops
einops-exts
rotary-embedding-torch
