# Core Deep Learning & Medical Imaging framework
torch
torchvision
nnunetv2

# Image Processing & Data Loading
numpy
nibabel
opencv-python-headless
scipy
monai>=1.5.2,<1.7
PyYAML
tqdm
matplotlib
einops
einops-exts
rotary-embedding-torch
